* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

img {
  width: min(20vw, 300px);
  height: min(20vw, 300px);
  margin: 10px;
}

h1 {
  font-size: min(5vw, 50px);
  color: #ffffff;
}

p {
  font-size: 1rem;
  color: #ffffff;
}

/*============== BASE LAYOUT ===============*/
.container-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: auto;
  min-width: 100vw;
  min-height: 100vh;
  height: auto;
  background-color: #000000;
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  width: 100%;
  height: 107px;

  background-color: #000000;
}

.header > h1 {
  text-transform: uppercase;
  font-size: min(5vw, 50px);
  font-weight: 700;
  letter-spacing: 0.05em;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 1;
  height: 80%;
  background-color: #000000;
}

.main__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-basis: 20%;

  background-color: #000000;
}

.category-box {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: #ffffff;
  width: 90%;
  background-color: #262626;
  border-radius: 10px;
  height: 50px;
}

.main__right {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  flex-basis: 78%;

  background-color: #000000;
}

.main__right > a {
  margin: 20px;
}

.main__right > a > img {
  border: 1px solid #ffffff;
}

.main__right > a:hover > img {
  opacity: 0.3;
}

.main__right > a:hover > img:hover {
  opacity: 1;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 5em #ffffff;
  transform: scale(1.1);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 5%;
  color: #ffffff;
  background-color: #252926;
}

/*============== DYNAMIC LAYOUT ===============*/
.hide {
  display: none;
}

/*============== ABOUT ===============*/
.container-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

.card-container {
  width: 300px;
  height: 450px;
  perspective: 800px;
}

.card-container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 100ms;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  display: flex;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(75, 69, 112, 1) 0%,
    rgba(91, 76, 159, 1) 0%,
    rgba(19, 11, 42, 1) 0%,
    rgba(0, 0, 0, 1) 54%,
    rgba(4, 1, 6, 1) 75%,
    rgba(45, 27, 60, 1) 100%,
    rgba(22, 10, 24, 1) 100%,
    rgba(54, 18, 51, 1) 100%,
    rgba(27, 13, 21, 1) 100%,
    rgba(28, 14, 20, 1) 100%,
    rgba(69, 38, 48, 1) 100%,
    rgba(65, 36, 48, 1) 100%,
    rgba(33, 20, 47, 1) 100%,
    rgba(59, 8, 44, 1) 100%,
    rgba(34, 16, 16, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  gap: 5rem;
}

.DDD {
  background-image: url(../images/About/cat1.jpg);
}

.THD {
  background-image: url(../images/About/cat2.jpg);
}

.MHD {
  background-image: url(../images/About/cat3.jpg);
}

.NTD {
  background-image: url(../images/About/cat4.jpg);
}

.NGD {
  background-image: url(../images/About/cat5.jpg);
}
