/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

.white-text {
  color: #ffffff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.spacer {
  aspect-ratio: 1000/200;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-background {
  background-color: #001220;
}

/*--------------------------------------------------------------
# Education Section
--------------------------------------------------------------*/

.layer1 {
  background-image: url("../images/layered-waves-haikei.svg");
  overflow: hidden;
}

.education-background {
  background-color: #c62368;
}

/*--------------------------------------------------------------
# Working Experiences Section
--------------------------------------------------------------*/

.layer2 {
  background-image: url("../images/layered-peaks-haikei.svg");
  overflow: hidden;
}

.working-background {
  background-color: #192655;
}

/*--------------------------------------------------------------
# Skills Section
--------------------------------------------------------------*/

.layer3 {
  background-image: url("../images/stacked-peaks-haikei.svg");
  overflow: hidden;
}

.skills-background {
  background-color: #04B180;
}

/*--------------------------------------------------------------
# Languages Section
--------------------------------------------------------------*/

.layer4 {
  background-image: url("../images/wave-haikei.svg");
  overflow: hidden;
}
